target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/output/Report/app/.jpackage.xml
/output/Report/runtime/legal/java.base/ADDITIONAL_LICENSE_INFO
/output/Report/runtime/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
/output/Report/runtime/legal/java.desktop/ADDITIONAL_LICENSE_INFO
/output/Report/runtime/legal/java.logging/ADDITIONAL_LICENSE_INFO
/output/Report/runtime/legal/java.prefs/ADDITIONAL_LICENSE_INFO
/output/Report/runtime/legal/java.scripting/ADDITIONAL_LICENSE_INFO
/output/Report/runtime/legal/java.xml/ADDITIONAL_LICENSE_INFO
/output/Report/runtime/legal/jdk.unsupported.desktop/ADDITIONAL_LICENSE_INFO
/output/Report/runtime/legal/java.base/aes.md
/output/Report/runtime/bin/api-ms-win-core-console-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-console-l1-2-0.dll
/output/Report/runtime/bin/api-ms-win-core-datetime-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-debug-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-errorhandling-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-fibers-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-fibers-l1-1-1.dll
/output/Report/runtime/bin/api-ms-win-core-file-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-file-l1-2-0.dll
/output/Report/runtime/bin/api-ms-win-core-file-l2-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-handle-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-heap-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-interlocked-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-kernel32-legacy-l1-1-1.dll
/output/Report/runtime/bin/api-ms-win-core-libraryloader-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-localization-l1-2-0.dll
/output/Report/runtime/bin/api-ms-win-core-memory-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-namedpipe-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-processenvironment-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-processthreads-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-processthreads-l1-1-1.dll
/output/Report/runtime/bin/api-ms-win-core-profile-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-string-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-synch-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-synch-l1-2-0.dll
/output/Report/runtime/bin/api-ms-win-core-sysinfo-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-sysinfo-l1-2-0.dll
/output/Report/runtime/bin/api-ms-win-core-timezone-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-core-util-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-conio-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-convert-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-environment-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-filesystem-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-heap-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-locale-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-math-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-multibyte-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-private-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-process-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-runtime-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-stdio-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-string-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-time-l1-1-0.dll
/output/Report/runtime/bin/api-ms-win-crt-utility-l1-1-0.dll
/output/Report/runtime/bin/app
/output/Report/runtime/bin/app.bat
/output/Report/runtime/legal/java.base/ASSEMBLY_EXCEPTION
/output/Report/runtime/legal/java.datatransfer/ASSEMBLY_EXCEPTION
/output/Report/runtime/legal/java.desktop/ASSEMBLY_EXCEPTION
/output/Report/runtime/legal/java.logging/ASSEMBLY_EXCEPTION
/output/Report/runtime/legal/java.prefs/ASSEMBLY_EXCEPTION
/output/Report/runtime/legal/java.scripting/ASSEMBLY_EXCEPTION
/output/Report/runtime/legal/java.xml/ASSEMBLY_EXCEPTION
/output/Report/runtime/legal/jdk.unsupported.desktop/ASSEMBLY_EXCEPTION
/output/Report/runtime/bin/awt.dll
/output/Report/runtime/legal/java.xml/bcel.md
/output/Report/app/security/blocked.certs
/output/Report/runtime/lib/security/blocked.certs
/output/Report/runtime/legal/java.base/c-libutl.md
/output/Report/app/security/cacerts
/output/Report/runtime/lib/security/cacerts
/output/Report/app/classlist
/output/Report/runtime/lib/classlist
/output/Report/runtime/legal/java.base/cldr.md
/output/Report/runtime/legal/java.desktop/colorimaging.md
/output/Report/runtime/conf/security/policy/limited/default_local.policy
/output/Report/runtime/conf/security/policy/unlimited/default_local.policy
/output/Report/runtime/conf/security/policy/limited/default_US_export.policy
/output/Report/runtime/conf/security/policy/unlimited/default_US_export.policy
/output/Report/runtime/legal/java.xml/dom.md
/output/Report/runtime/conf/security/policy/limited/exempt_local.policy
/output/Report/app/fontconfig.bfc
/output/Report/runtime/lib/fontconfig.bfc
/output/Report/app/fontconfig.properties.src
/output/Report/runtime/lib/fontconfig.properties.src
/output/Report/runtime/bin/fontmanager.dll
/output/Report/runtime/bin/freetype.dll
/output/Report/runtime/legal/java.desktop/freetype.md
/output/Report/runtime/legal/java.desktop/giflib.md
/output/Report/runtime/legal/java.desktop/harfbuzz.md
/output/Report/runtime/legal/java.base/icu.md
/output/Report/runtime/bin/java.dll
/output/Report/runtime/bin/java.exe
/output/Report/runtime/conf/security/java.security
/output/Report/runtime/bin/javajpeg.dll
/output/Report/runtime/bin/javaw.exe
/output/Report/runtime/bin/jawt.dll
/output/Report/app/jawt.lib
/output/Report/runtime/lib/jawt.lib
/output/Report/runtime/conf/jaxp.properties
/output/Report/runtime/conf/jaxp-strict.properties.template
/output/Report/runtime/legal/java.xml/jcup.md
/output/Report/runtime/bin/jimage.dll
/output/Report/runtime/bin/jli.dll
/output/Report/runtime/legal/java.desktop/jpeg.md
/output/Report/app/jrt-fs.jar
/output/Report/runtime/lib/jrt-fs.jar
/output/Report/runtime/bin/jrunscript.exe
/output/Report/runtime/bin/jsound.dll
/output/Report/app/jvm.cfg
/output/Report/runtime/lib/jvm.cfg
/output/Report/runtime/bin/server/jvm.dll
/output/Report/app/jvm.lib
/output/Report/runtime/lib/jvm.lib
/output/Report/runtime/bin/keytool.exe
/output/Report/runtime/bin/lcms.dll
/output/Report/runtime/legal/java.desktop/lcms.md
/output/Report/runtime/legal/java.desktop/libpng.md
/output/Report/runtime/legal/java.base/LICENSE
/output/Report/runtime/legal/java.datatransfer/LICENSE
/output/Report/runtime/legal/java.desktop/LICENSE
/output/Report/runtime/legal/java.logging/LICENSE
/output/Report/runtime/legal/java.prefs/LICENSE
/output/Report/runtime/legal/java.scripting/LICENSE
/output/Report/runtime/legal/java.xml/LICENSE
/output/Report/runtime/legal/jdk.unsupported.desktop/LICENSE
/output/Report/runtime/conf/logging.properties
/output/Report/runtime/legal/java.desktop/mesa3d.md
/output/Report/runtime/bin/mlib_image.dll
/output/Report/app/modules
/output/Report/runtime/lib/modules
/output/Report/runtime/bin/msvcp140.dll
/output/Report/runtime/bin/net.dll
/output/Report/runtime/conf/net.properties
/output/Report/runtime/bin/nio.dll
/output.zip
/output/Report/runtime/bin/prefs.dll
/output/Report/app/psfont.properties.ja
/output/Report/runtime/lib/psfont.properties.ja
/output/Report/app/psfontj2d.properties
/output/Report/runtime/lib/psfontj2d.properties
/output/Report/runtime/legal/java.base/public_suffix.md
/output/Report/app/security/public_suffix_list.dat
/output/Report/runtime/lib/security/public_suffix_list.dat
/qodana.yaml
/output/Report/runtime/conf/security/policy/README.txt
/output/Report/runtime/release
/output/Report/app/Report.cfg
/output/Report/Report.exe
/output/Report/runtime/legal/java.xml/schema10part1.md
/output/Report/runtime/legal/java.xml/schema10part2.md
/output/Report/runtime/legal/java.base/siphash.md
/output/Report/runtime/conf/sound.properties
/output/Report/runtime/bin/splashscreen.dll
/output/Report/runtime/bin/syslookup.dll
/output/Report/app/tzdb.dat
/output/Report/runtime/lib/tzdb.dat
/output/Report/app/tzmappings
/output/Report/runtime/lib/tzmappings
/output/Report/runtime/bin/ucrtbase.dll
/output/Report/runtime/legal/java.base/unicode.md
/output/Report/runtime/bin/vcruntime140.dll
/output/Report/runtime/bin/vcruntime140_1.dll
/output/Report/runtime/bin/verify.dll
/output/Report/runtime/legal/java.base/wepoll.md
/output/Report/runtime/legal/java.xml/xalan.md
/output/Report/runtime/legal/java.xml/xerces.md
/output/Report/runtime/legal/java.xml/xhtml10.md
/output/Report/runtime/legal/java.xml/xhtml10schema.md
/output/Report/runtime/legal/java.xml/xhtml11.md
/output/Report/runtime/legal/java.xml/xhtml11schema.md
/output/Report/runtime/legal/java.xml/xmlspec.md
/output/Report/runtime/legal/java.xml/xmlxsd.md
/output/Report/runtime/bin/zip.dll
/output/Report/runtime/legal/java.base/zlib.md
/output/新建 Internet 快捷方式.url
